@black: #000000;
@white: #ffffff;
@chi2: #C83803;
@chi1: #0B162A;
@min1: #4F2683;
@min2: #FFC62F;
@det1: #0076B6;
@det2: #B0B7BC;
@gb1: #203731;
@gb2: #FFB612;
@dal1: #002244;
@dal2: #B0B7BC;
@phi1: #004C54;
@phi2: @white;
@nyg1: #0B2265;
@nyg2: #A71930;
@was1: #5A1414;
@was2: #FFB612;
@tb1: #D50A0A;
@tb2: #34302B;
@atl1: #A71930;
@atl2: @black;
@nola1: @black;
@nola2: #D3BC8D; 
@car1: #0085CA;
@car2: @black;
@sf1: #AA0000;
@sf2: #B3995D;
@az1: #97233F;
@az2: @white;
@lar1: #002244;
@lar2: #B3995D;
@sea1: #69BE28;
@sea2: #002244;
@cin1: #FB4F14;
@cin2: @black;
@cle1: #FF3C00;
@cle2: #311D00;
@bal1: #241773;
@bal2: #9E7C0C; 
@pit1: #FFB612;
@pit2: @black;
@buf1: #C60C30;
@buf2: #00338D;
@nyj1: #203731;
@nyj2: @white;
@mia1: #008E97;
@mia2: #F58220;
@ne1: #002244;
@ne2: #C60C30;
@ind1: #002C5F;
@ind2: @white;
@jax1: #006778;
@jax2: #9F792C;
@hou1: #A71930;
@hou2: #03202F;
@ten1: #4B92DB;
@ten2: #002244; 
@den1: #002244;
@den2: #FB4F14;
@lac1: #0073CF;
@lac2: #FFB612;
@kc1: #E31837;
@kc2: #FFB612; 
@oak1: @black;
@oak2: #A5ACAF;

body {
    margin: 0;

}
.main {
    width: 100%;
    height: auto;
    padding: 10%;
}

footer {
    position: relative;
    bottom: 0;
}
#nfl {

    .chi {
        background-color: @chi1;
        color: @chi2; 
    }
    .min {
        background-color: @min1;
        color: @min2; 
    }
    .det {
        background-color: @det1;
        color: @det2; 
    }
    .gb {
        background-color: @gb1;
        color: @gb2; 
    }

    .dal {
        background-color: @dal1;
        color: @dal2; 
    }

    .phi {
        background-color: @phi1;
        color: @phi2; 
    }

    .nyg {
        background-color: @nyg1;
        color: @nyg2;
    }

    .was {
        background-color: @was1;
        color: @was2; 
    }
    .tb {
        background-color: @tb1;
        color: @tb2; 
    }
    .atl {
        background-color: @atl1;
        color: @atl2; 
    }

    .car {
        background-color: @car1;
        color: @car2; 
    }

    .nola {
        background-color: @nola1;
        color: @nola2; 
    }
    .sf {
        background-color: @sf1;
        color: @sf2; 
    }
    .az {
        background-color: @az1;
        color: @white; 
    }
    .lar {
        background-color: @lar1;
        color: @lar2; 
    }
    .sea {
        background-color: @sea1;
        color: @sea2; 
    }
    .cin{
        background-color: @cin1;
        color: @cin2; 
    }
    .cle {
        background-color: @cle1;
        color: @cle2; 
    }
    .bal {
        background-color: @bal1;
        color: @bal2; 
    }
    .pit {
        background-color: @pit1;
        color: @pit2; 
    }
    .buf {
        background-color: @buf1;
        color: @buf2; 
    }
    .mia {
        background-color: @mia1;
        color: @mia2; 
    }

    .nyj {
        background-color: @nyj1;
        color: @white;
    }

    .ne {
        background-color: @ne1;
        color: @ne2; 
    }

    .ind {
        background-color: @ind1;
        color: @white; 
    }
    .jax {
        background-color: @jax1;
        color: @jax2; 
    }
    .hou {
        background-color: @hou1;
        color: @hou2; 
    }

    .ten {
        background-color: @ten1;
        color: @ten2;
    }

    .den {
        background-color: @den1;
        color: @den2; 
    }

    .lac {
        background-color: @lac1;
        color: @lac2; 
    }
    .kc {
        background-color: @kc1;
        color: @kc2; 
    }
    .oak {
        background-color: @oak1;
        color: @oak2; 
}

}