body {
  margin: 0;
}
.main {
  width: 100%;
  height: auto;
  padding: 10%;
}
footer {
  position: relative;
  bottom: 0;
}
#nfl .chi {
  background-color: #0B162A;
  color: #C83803;
}
#nfl .min {
  background-color: #4F2683;
  color: #FFC62F;
}
#nfl .det {
  background-color: #0076B6;
  color: #B0B7BC;
}
#nfl .gb {
  background-color: #203731;
  color: #FFB612;
}
#nfl .dal {
  background-color: #002244;
  color: #B0B7BC;
}
#nfl .phi {
  background-color: #004C54;
  color: #ffffff;
}
#nfl .nyg {
  background-color: #0B2265;
  color: #A71930;
}
#nfl .was {
  background-color: #5A1414;
  color: #FFB612;
}
#nfl .tb {
  background-color: #D50A0A;
  color: #34302B;
}
#nfl .atl {
  background-color: #A71930;
  color: #000000;
}
#nfl .car {
  background-color: #0085CA;
  color: #000000;
}
#nfl .nola {
  background-color: #000000;
  color: #D3BC8D;
}
#nfl .sf {
  background-color: #AA0000;
  color: #B3995D;
}
#nfl .az {
  background-color: #97233F;
  color: #ffffff;
}
#nfl .lar {
  background-color: #002244;
  color: #B3995D;
}
#nfl .sea {
  background-color: #69BE28;
  color: #002244;
}
#nfl .cin {
  background-color: #FB4F14;
  color: #000000;
}
#nfl .cle {
  background-color: #FF3C00;
  color: #311D00;
}
#nfl .bal {
  background-color: #241773;
  color: #9E7C0C;
}
#nfl .pit {
  background-color: #FFB612;
  color: #000000;
}
#nfl .buf {
  background-color: #C60C30;
  color: #00338D;
}
#nfl .mia {
  background-color: #008E97;
  color: #F58220;
}
#nfl .nyj {
  background-color: #203731;
  color: #ffffff;
}
#nfl .ne {
  background-color: #002244;
  color: #C60C30;
}
#nfl .ind {
  background-color: #002C5F;
  color: #ffffff;
}
#nfl .jax {
  background-color: #006778;
  color: #9F792C;
}
#nfl .hou {
  background-color: #A71930;
  color: #03202F;
}
#nfl .ten {
  background-color: #4B92DB;
  color: #002244;
}
#nfl .den {
  background-color: #002244;
  color: #FB4F14;
}
#nfl .lac {
  background-color: #0073CF;
  color: #FFB612;
}
#nfl .kc {
  background-color: #E31837;
  color: #FFB612;
}
#nfl .oak {
  background-color: #000000;
  color: #A5ACAF;
}
